<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body style="font-family: 'Poppins', Arial, sans-serif">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" style="padding: 20px;">
                <table className="content" width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: 1px solid #cccccc;">
                    <!-- Header -->
                    <tr>
                        <td className="header" style="background-color: #345C72; padding: 40px; text-align: center; color: white; font-size: 24px;">
                        Adaffinity
                        </td>
                    </tr>

                    <!-- Body -->
                    <tr>
                        <td className="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                        Hello, {{name}}! <br>
                        <br>
                        
                        <p>We are thrilled to have you on board. Thank you for joining Adaffinity!</p>
  
                        <p>Our platform offers a wide range of features to help you. If you have any questions or need assistance, feel free to reach out to our support team.</p>
  
                        <p style="font-style: italic;">We look forward to serving you!</p>
                                    
                        </td>
                    </tr>

                    <!-- Call to action Button -->
                    <tr>
                        <td style="padding: 0px 40px 0px 40px; text-align: center;">
                            <!-- CTA Button -->
                            <table cellspacing="0" cellpadding="0" style="margin: auto;">
                                <tr>
                                    <td align="center" style="background-color: #345C72; padding: 10px 20px; border-radius: 5px;">
                                        <a href={{ticketUrl}} target="_blank" style="color: #ffffff; text-decoration: none; font-weight: bold;">Click here</a> 
                                    </td>
                                    <td> to verify your email.</td>
                                </tr>
                                <tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td className="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                            
                        </td>
                    </tr>
                    <!-- Footer -->
                    <tr>
                        <td className="footer" style="background-color: #333333; padding: 40px; text-align: center; color: white; font-size: 14px;">
                        Copyright &copy; {{copyrightDate}} | Adaffinity. All rights reserved.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>