@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #171A1F;
    font-family: "Archivo", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    color: #FFF;
    letter-spacing: 0.07em;
}

/* BUTTON STYLE START */

.btn-red {
    background-color: #FF1919;
    color: #FFF;
    border: 1px solid #FF1919;
}

.btn-red:hover {
    background-color: transparent;
    border-color: #FF1919;
    color: #FFF !important;
}

.btn-white {
    background-color: #FFF;
    color: #FF1919;
    border: 1px solid #FFF;
}

.btn-red:hover {
    background-color: transparent;
    border-color: #FFF;
    color: #FF1919 !important;
}


/* COMMON STYLE */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

.bg-lightblack {
    background-color: #1D2128;
}

.section-row {
    padding-top: 60px;
    padding-bottom: 60px;
}

img {
    max-width: 100%;
}

/* Header Style Start */

.navbar .navbar-brand img {
    max-width: 100px;
}


.navbar .navbar-nav {
    align-items: center;
}


.navbar .navbar-nav .nav-item {
    margin: 0 20px;
    position: relative;
}

.navbar .navbar-nav .nav-item a {

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    padding: 8px 0;
    color: #FFF;
    text-decoration: none;
}
.navbar-collapse {
    flex-grow : 0 !important;
}

.navbar .navbar-nav .nav-item a.active,
.navbar .navbar-nav .nav-item:hover>a {
    color: #FF1919;
    text-decoration: none;
}

.navbar .navbar-nav .nav-item ul.sub-menu {
    position: absolute;
    top: 130%;
    left: 50%;
    white-space: nowrap;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(46, 76, 185, 0.2);
    box-shadow: 0px 5px 30px 0px rgba(46, 76, 185, 0.2);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    opacity: 0;
    visibility: hidden;
}

.navbar .navbar-nav .nav-item ul.sub-menu::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(46, 76, 185, 0.2);
    box-shadow: 0px -30px 30px 0px rgba(46, 76, 185, 0.2);
    top: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    z-index: -2;
}

.navbar .navbar-nav .nav-item:hover ul.sub-menu {
    top: 120%;
    opacity: 1;
    visibility: visible;
}

.navbar .navbar-nav .nav-item ul.sub-menu li {
    margin: 0;
}

.navbar .navbar-nav .nav-item ul.sub-menu li a {
    padding: 10px 30px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    display: block;

}

.navbar .navbar-nav .nav-item ul.sub-menu li:hover>a {
    background-color: #2e4db9;
    color: #fff;
}

.navbar .navbar-toggler .icon-bar {
    width: 30px;
    height: 2px;
    margin: 8px 0;
    background-color: #FFF;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.navbar .navbar-toggler.active .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
    top: 10px;
}

.navbar .navbar-toggler.active .icon-bar:nth-of-type(2) {
    opacity: 0;
}

.navbar .navbar-toggler.active .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(134deg);
    transform: rotate(134deg);
    top: -10px;
}

.sub-nav-toggler {
    display: none;
}


/* BANNER STYLE START */

.banner-section .banner-panel {
    max-width: 600px;
}

.banner-section .banner-panel h1 {}

.banner-section .banner-panel p {
    font-weight: 300;
    font-size: 18px;
}

/* VIDEO GRID STYLE */


.video_grid_row {
    margin: 0 auto;
}

.video_grid_row .row {
    row-gap: 20px;
}

.video_grid_row a {
    color: #FFF;
}

.video_grid_row a:hover {
    text-decoration: none;
}

.video_grid_row .video_panel {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    background-color: #1D2128;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;

}

.video_grid_row .video_panel:hover {
    background-color: #1a1e25;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(24, 25, 26, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(24, 25, 26, 1);
    box-shadow: 0px 0px 15px 0px rgba(24, 25, 26, 1);
}

.video_grid_row .video_info {
    width: 50%;
    text-align: left;
}

.video_grid_row .video_thumb {
    width: 50%;
}

.video_grid_row .video_thumb figure {
    margin-bottom: 0px;
    overflow: hidden;
    border-radius: 5px;

}

.video_grid_row .video_thumb img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth scaling and shadow transition */
}

.video_grid_row .video_panel:hover .video_thumb img {
    transform: scale(1.1);
    /* Scale the image slightly */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* Add a shadow effect */

}

.video_grid_row .video_panel h3 {
    font-size: 16px;
    font-weight: 400;

}

.video_grid_row .video_panel span.video-duration {
    font-size: 13px;
}

/* ABOUT US SECTION STYLE */
.about-info {
    padding: 0px 50px 0px 0px;
}

.about-info h2 {
    font-size: 46px;
    margin-bottom: 15px;
}

.about-info .about_item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #474747;
}

.about-info .about_item:last-child {
    border-bottom: 0px;
}

.about-info .about_item h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.img_div img {
    border-radius: 8px;
}


/* CTA SECTION STYLE */

.cta_section .cta_panels {
    background-color: #FF1919;
    border-radius: 15px;
    overflow: hidden;
}

.cta_section .cta_panels .callto_action_bar {}

.cta_section .cta_panels .aboutPic {
    height: 400px;
    overflow: hidden;
}

.cta_section .cta_panels .aboutPic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: bottom center;
}



/* FOOTER STYLE */

.footer-section {
    padding-top: 60px;
}

.footer-section .footer {
    max-width: 850px;
}

.footer-section .footer-title h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #BCC1CA;

}





.footer-section .footer-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping for two rows */
}

.footer-section .footer-info ul li {
    width: 100%;
    /* Each item takes 50% width to form two rows */
    margin-bottom: 8px;
}

.footer-section .footer-info ul li a {
    text-decoration: none;
    color: #BCC1CA;
    transition: color 0.3s ease;
}

.footer-section .footer-info ul li a:hover {
    color: #ff0000;
    /* Highlight link on hover */
}

.footer-section .footer-info.ft_big_menu ul li {
    width: 50%;
    /* Each item takes 50% width to form two rows */
    margin-bottom: 10px;
}


.footer-section .social-icons {
    margin-top: 20px;
}

.footer-section .social-icons .ft_social-item {
    display: inline-block;
    margin: 0 10px;
}

.footer-section .social-icons .ft_social-item img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.footer-section .social-icons .ft_social-item a:hover img {
    transform: scale(1.2);
    /* Enlarge icon slightly on hover */
}

.footer-section .copyright {
    /* Slightly darker background for copyright */
    font-size: 14px;
    color: #BCC1CA;
}



/*===== ABOUT US PAGE - STYLES =====*/

.banner-section .banner-pic img {
    border-radius: 15px;
}



/*===== VIDEOS PAGE - STYLES =====*/


/* Video Filters Section */
.video-filters {
    background-color: #1D2128;
    /* Light background */
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

/* Form and Filter Items */
.video-filters .filter-item {
    margin-bottom: 10px;
}

.video-filters .form-label {
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.video-filters .form-select {
    width: 200px;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #171A1F;
    transition: border-color 0.3s;

}

.video-filters .form-select:focus {
    border-color: #FF1919;
    outline: none;
}

.video-filters .btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 24px;
}





.pagination .page-link {
    color: #FFF;
    /* Make buttons rounded */
    transition: all 0.3s ease;
    /* Smooth hover transition */
    background-color: #FF1919;
    border-color: #171A1F;
}

.page-item.disabled .page-link {
    color: #FFF;
    pointer-events: none;
    cursor: auto;
    background-color: #FF1919;
    border-color: #171A1F;
}

.pagination .page-link:hover {
    background-color: #FF1919;
    /* Hover background */
    color: #fff;
    /* Hover text color */
}

.pagination .page-item.active .page-link {
    background-color: #171A1F;
    /* Active background */
    border-color: #FF1919;
    color: #FFF;
    /* Active text color */
}




/*===== LOGIN AND REGISTER PAGE - STYLES =====*/

/* Sign-Up Container */
.signup-section .signup-container {
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
    color: #171A1F;
    max-width: 850px;
    width: 100%;
}

/* Sign-Up Card */
.signup-section .signup-card {
    width: 100%;
}

.signup-section .signup-card h2 {
    color: #171A1F;
    font-size: 24px;
}

.signup-section .signup-card .field_item {
    text-align: left;
}

/* Form Styles */
.signup-section .signup-card .form-label {
    font-weight: 500;
    font-size: 14px;
    color: #171A1F;
}

.signup-section .signup-card .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
}

.signup-section .signup-card .form-control:focus {
    border-color: #FF1919;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
}

/* Button Styles */
.signup-section .signup-card .btn:hover {
    background-color: #FF1919;
    color: #FFF !important;
    border: 1px solid #FF1919;

}

/* Link Styles */
.signup-section .signup-card a {
    color: #FF1919;
    text-decoration: none;
}

.signup-section .signup-card a:hover {
    text-decoration: underline;
}


.signup-section .signupPic {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.signup-section .signupPic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
}


.signup-section .social-login p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #6c757d;
}

.signup-section .social-icon {
    margin: 0px 5px;
    background-color: #F3F4F6;
    padding: 4px 25px;
    border-radius: 25px;
}

.signup-section .social-icon img {
    transition: transform 0.2s ease;
    max-width: 28px;
}

.signup-section .social-icon img:hover {
    transform: scale(1.1);
}